.bio {
  background-color: rgb(48, 21, 2);
}
#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

#profileUrl {
  width: 500px;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 0;
  color: #fff;
}

.repos {
  height: 40vh;
  overflow-y: scroll;
}